<section *ngIf="jsonContent && staticContent">
  <form
    (ngSubmit)="onSubmit(contactForm)"
    #contactForm="ngForm"
    (ngSubmit)="formtest($event, contactForm)"
  >
    <div class="field-holder">
      <div
        [ngClass]="{
          'input-icon': true,
          valid: inputName.valid && inputName.touched,
          invalid: !inputName.valid && inputName.touched
        }"
      >
        <input
          placeholder=" "
          id="name"
          required
          [(ngModel)]="name"
          name="name"
          #inputName="ngModel"
        />
        <label [for]="name">{{ jsonContent.contact.name }}</label>
      </div>
      @if (!inputName.valid && inputName.touched) {
      <div class="validation-message">
        {{ getErrorMessage("name") }}
      </div>
      }
    </div>

    <div class="field-holder">
      <div
        [ngClass]="{
          'input-icon': true,
          valid: inputEmail.valid && inputEmail.touched,
          invalid: !inputEmail.valid && inputEmail.touched
        }"
      >
        <input
          placeholder=" "
          id="email"
          required
          [(ngModel)]="email"
          name="email"
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          #inputEmail="ngModel"
        />
        <label [for]="email">{{ jsonContent.contact.email }}</label>
      </div>
      @if (!inputEmail.valid && inputEmail.touched) {
      <div class="validation-message">
        {{ getErrorMessage("email") }}
      </div>
      }
    </div>

    <div
      class="field-holder"
      [ngClass]="{
        'input-icon': true,
        valid: messageField.valid && messageField.touched,
        invalid: !messageField.valid && messageField.touched
      }"
    >
      <textarea
        placeholder=" "
        id="message"
        rows="8"
        required
        [(ngModel)]="message"
        name="message"
        #messageField="ngModel"
        minlength="4"
      ></textarea>
      @if (!messageField.valid && messageField.touched) {
      <div class="validation-message">
        {{ jsonContent.contact.enter_message }}
      </div>
      }
      <label for="message">{{ jsonContent.contact.message }}</label>
    </div>
    <div class="privacy-policy-wrapper">
      <input type="checkbox" name="privacy-policy" id="privacy_policy_check" [(ngModel)]="checkboxState" required>
      <span>{{jsonContent.contact.confirmation_prefix }}</span>
      <a routerLink="privacy-policy">{{jsonContent.contact.privacy_policy}}</a> {{checkboxState | json}}
      <span> {{jsonContent.contact.confirmation_suffix}}</span>
    </div>
    <div class="button-wrapper">
      <input [disabled]="!contactForm.form.valid || !checkboxState " type="submit" value="{{ jsonContent.contact.button }}" />
    </div>
  </form>
</section>
