<!-- <section *ngIf="jsonContent && staticContent">
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" (ngSubmit)="formtest($event, contactForm)">
    @for(field of fields; track field.id; let i = $index) {
    <div class="field-holder">
      <ng-container *ngIf="field.type !== 'textarea'; else textareaField">
        <div
          [ngClass]="{
            'input-icon': true,
            valid: inputField.valid && inputField.touched,
            invalid: !inputField.valid && inputField.touched
          }"
        >
          <input
            placeholder=" "
            [type]="field.type"
            id="{{ field.id }}"
            required
            [(ngModel)]="contactData[field.id]"
            name="{{ field.id }}"
            [pattern]="
              field.type === 'email'
                ? '[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}'
                : ''
            "
            #inputField="ngModel"
          />
          <label [for]="field.id">{{ field.placeholder }}</label>
        </div>
        @if (!inputField.valid && inputField.touched) {
        <div class="validation-message">
          {{ getErrorMessage(field.id) }}
        </div>
        }
      </ng-container>
      <ng-template #textareaField>
        <div
          [ngClass]="{
            'input-icon': true,
            valid: messageField.valid && messageField.touched,
            invalid: !messageField.valid && messageField.touched
          }"
        >
          <textarea
            placeholder=" "
            id="{{ field.id }}"
            rows="8"
            required
            [(ngModel)]="contactData[field.id]"
            name="{{ field.id }}"
            #messageField="ngModel"
            minlength="4"
          ></textarea>
          @if (!messageField.valid && messageField.touched) {
          <div class="validation-message">
            {{ jsonContent.contact.enter_message }}
          </div>
          }
          <label for="{{ field.id }}">{{ field.placeholder }}</label>
        </div>
      </ng-template>
    </div>
    }
    <input type="submit" value="{{ jsonContent.contact.button }}" />
  </form>
</section> -->

<section *ngIf="jsonContent && staticContent">
  <form
    (ngSubmit)="onSubmit(contactForm)"
    #contactForm="ngForm"
    (ngSubmit)="formtest($event, contactForm)"
  >
    <div class="field-holder">
      <div
        [ngClass]="{
          'input-icon': true,
          valid: inputName.valid && inputName.touched,
          invalid: !inputName.valid && inputName.touched
        }"
      >
        <input
          placeholder=" "
          id="name"
          required
          [(ngModel)]="name"
          name="name"
          #inputName="ngModel"
        />
        <label [for]="name">{{ jsonContent.contact.name }}</label>
      </div>
      @if (!inputName.valid && inputName.touched) {
      <div class="validation-message">
        {{ getErrorMessage("name") }}
      </div>
      }
    </div>

    <div class="field-holder">
      <div
        [ngClass]="{
          'input-icon': true,
          valid: inputEmail.valid && inputEmail.touched,
          invalid: !inputEmail.valid && inputEmail.touched
        }"
      >
        <input
          placeholder=" "
          id="email"
          required
          [(ngModel)]="email"
          name="email"
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          #inputEmail="ngModel"
        />
        <label [for]="email">{{ jsonContent.contact.email }}</label>
      </div>
      @if (!inputEmail.valid && inputEmail.touched) {
      <div class="validation-message">
        {{ getErrorMessage("email") }}
      </div>
      }
    </div>

    <div
      class="field-holder"
      [ngClass]="{
        'input-icon': true,
        valid: messageField.valid && messageField.touched,
        invalid: !messageField.valid && messageField.touched
      }"
    >
      <textarea
        placeholder=" "
        id="message"
        rows="8"
        required
        [(ngModel)]="message"
        name="message"
        #messageField="ngModel"
        minlength="4"
      ></textarea>
      @if (!messageField.valid && messageField.touched) {
      <div class="validation-message">
        {{ jsonContent.contact.enter_message }}
      </div>
      }
      <label for="message">{{ jsonContent.contact.message }}</label>
    </div>
    <div class="privacy-policy-wrapper">
      <input type="checkbox" name="" id="privacy_policy_check">
      <a routerLink="privacy-policy">Datenschutzerklärung</a>
    </div>
    <div class="button-wrapper">
      <input type="submit" value="{{ jsonContent.contact.button }}" />
    </div>
    
  </form>
</section>
