@import '../../../scss-styles/variables.scss';

section {
  margin: 0 0 -1px;
  padding: 8em 1em 96px;
  overflow: hidden;
  background-color: $background-color-dark;
  color: $background-color-light;
    clip-path: polygon(0 0, 100% 12%, 100% 100%, 0% 100%);
}

.greeting {
  max-width: 1440px;
  margin: 0.5em auto 1em;
  text-align: left;
}

h3 {
  margin: 2em 0 1.5em;
  text-align: center;
  color: $accent-color;
  font-weight: 600;
}

.request-to-contact {
  margin: 0 0 2em;
  text-align: center;
  font-size: clamp(0.9rem, 2vw, 1.2rem);
}


@media (min-width: 50em) {
  section {
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  }
}