@import "../../../../scss-styles/variables.scss";

section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: $header-height;
  padding-inline: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $background-color-light;
  border: red 1px;
  .logo {
    height: 28px;
  }

  .burger {
    height: 24px;
  }
}

img {
  cursor: pointer;
}

.menu-box {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0.5em;
}

.custom-select-container {
  width: 50px;
}

.custom-select {
  position: relative;
  user-select: none;
}

.custom-select-trigger {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    max-height: 100%;
  }
}

.custom-options {
  width: 150px;
  height: 40px;
  position: absolute;
  top: -8px;
  left: -156px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-option {
  display: flex;
  align-items: center;
  padding: 8px 0.5em;
  cursor: pointer;
}

.custom-option:hover {
  background: #f0f0f0;
}

.custom-option .flag {
  margin: 0 auto;
  width: 50px;
  height: auto;
}

.custom-select.open .custom-options {
  display: block;
}

.hamburger {
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  .line {
    width: 44px;
    height: 5px;
    background-color: $font-color;
    display: block;
    margin: 0 auto;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}

.hamburger.is-active {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  &.is-active .line:nth-child(2) {
    width: 0px;
  }
  &.is-active .line:nth-child(1),
  &.is-active .line:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  &.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
  }
  &.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
  }
}

po-menu {
  height: calc(100vh - $header-height);
  width: 100%;
  position: fixed;
  top: $header-height;
  left: 0;
  z-index: 10;
  background-color: $background-color-light;
}

.d-none {
  display: none;
}