$background-color-light: #fffcf3;
$font-color: #2b2925;
$font-color-light: #fffcf3;
$background-color-dark: #000000;
$shadow-color: #00000033;
$accent-color: #ff9900;
$warning-color: #E61C40;
$success-color: #70E61C;

$header-height: 80px;
$footer-height-small: 200px;
$footer-height-large: 80px;
$input-field-height: 32px;

$heading-font-family: "Syne", sans-serif;
$text-font-family: "Overpass", sans-serif;
