<article *ngIf="staticContent && jsonContent && staticContentProjects">
    <div
      *ngFor="let project of jsonContent.portfolio.projects; let i = index"
      [ngClass]="{ odd: (i + 1) % 2 !== 0, even: (i + 1) % 2 === 0 }"
      class="project-wrapper"
    >
      <ng-container *ngFor="let key of getProjectKeys(project)">
        <div class="img-box" appScroll animationClass="scroll-animate">
          <img
            [src]="'assets/img/projects/' + staticContentProjects[key].path"
            alt="{{ staticContent.portfolio.projects[key].title }}"
          />
          <div class="frame-wrapper">
            <div class="frame"></div>
            <img
              class="round-arrow"
              [src]="
                'assets/icons/arrows_dark/' + staticContent.portfolio.round_arrow
              "
            />
          </div>
        </div>
        <div
          class="text-wrapper" data-aos="fade_down"
        >
          <h5>{{ staticContentProjects[key].title }}</h5>
          <div class="skills">
            <ng-container
              *ngFor="
                let skill of staticContentProjects[key].skills;
                let last = last
              "
            >
              {{ skill }}
              <ng-container *ngIf="!last"> | </ng-container>
            </ng-container>
          </div>
          <div class="description">
            {{ project[key].description }}
          </div>
          <div>
            <po-button [caption]="project[key].test_button"></po-button>
            <po-button
              [caption]="staticContentProjects[key].code_button"
            ></po-button>
          </div>
        </div>
      </ng-container>
    </div>
  </article>
  
