@import "../../../scss-styles/variables.scss";

section {
  max-width: 1440px;
  margin: 0 auto;
  min-height: calc(100vh - $header-height);
  padding-inline: 1em;
  position: relative;
}

.title-box {
  max-width: 850px;
  margin: 3rem auto;
}

.german {
  font-size: clamp(2rem, 9vw, 6rem);
}

.french {
  font-size: clamp(1.5rem, 6vw, 6rem);
}

.name-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.deco-line {
  width: 40%;
  height: 3px;
  background-color: $background-color-dark;
}

.info-box {
  max-width: 1440px;
  margin: 3rem auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  p {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(270deg) translateX(-10%);
    transform-origin: 0% 0%;
    font-size: clamp(1rem, 3vw, 1.5rem);
  }

  .arrow-box {
    width: 60px;
    height: 100px;
    background-image: url("../../../assets/icons/arrows_dark/arrow_dark_down.svg");
    background-repeat: no-repeat;
    background-position: center -80px;
    animation: moveArrowDown 1.5s infinite;
  }
}

.splatter {
  width: clamp(96px, 10vw, 200px);
  position: absolute;
  left: 20%;
  bottom: 20%;
}

svg {
  max-height: 100%;
  max-width: 100%;
}

@keyframes moveArrowDown {
  0% {
    background-position: center -80px;
  }

  4% {
    background-position: center -70px;
  }

  8% {
    background-position: center -60px;
  }

  12% {
    background-position: center -50px;
  }

  16% {
    background-position: center -40px;
  }

  20% {
    background-position: center -30px;
  }

  24% {
    background-position: center -20px;
  }

  28% {
    background-position: center -10px;
  }

  32% {
    background-position: center 0px;
  }

  36% {
    background-position: center 10px;
  }

  40% {
    background-position: center 20px;
  }

  44% {
    background-position: center 30px;
  }

  48% {
    background-position: center 40px;
  }

  52% {
    background-position: center 50px;
  }

  56% {
    background-position: center 60px;
  }

  60% {
    background-position: center 70px;
  }

  64% {
    background-position: center 80px;
  }

  68% {
    background-position: center 90px;
  }

  72% {
    background-position: center 100px;
  }

  75% {
    background-position: center 100px;
  }

  80% {
    background-position: center 110px;
  }

  85% {
    background-position: center 110px;
  }

  95% {
    background-position: center 120px;
  }

  100% {
    background-position: center 120px;
  }
}

@media (min-width: 50em) {
  po-button {
    display: none;
  }
}
