<section *ngIf="jsonContent">
    <form>
      <div class="field-holder" *ngFor="let field of fields">
        <ng-container *ngIf="field.type !== 'textarea'; else textareaField">
          <input placeholder=" " [type]="field.type" id="{{ field.id }}" required />
          <label for="{{ field.id }}">{{ field.placeholder }}</label>
        </ng-container>
        <ng-template #textareaField>
          <textarea placeholder=" " id="{{ field.id }}" rows="8" required></textarea>
          <label for="{{ field.id }}">{{ field.placeholder }}</label>
        </ng-template>
      </div>
      <input disabled type="submit" value="{{jsonContent.contact.button}}">
    </form>
  </section>
  
