@import "../scss-styles/variables.scss";

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main-content"
    "footer";
}

po-header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: $background-color-light;
}

.main-wrapper {
  grid-area: main-content;
}

po-footer {
  grid-area: footer;
}
