<section *ngIf="staticContent && jsonContent">
  <div class="skill-wrapper">
    <h2
      *ngIf="jsonContent.skills.skills"
      [ngClass]="{
        english: isCurrentLanguage('en'),
        german: isCurrentLanguage('de'),
        french: isCurrentLanguage('fr')
      }"
    >
      {{ jsonContent.skills.skills }}
    </h2>
    <div class="skill-box">
      @for(icon of staticContent.candidate_skills; track icon) {
      <div class="icon-box">
        <img class="icon" src="{{ icon.icon_path }}" alt="" />
        <p class="caption">{{ icon.caption }}</p>
      </div>
      }
    </div>
  </div>
  <div class="skills-arrow-box" #skillsArrowBox>
    <img
      src="{{ staticContent.arrow_dark }}"
      alt=""
      [class.scrolled]="isScrolled"
    />
  </div>
</section>
