@import "../../scss-styles/variables.scss";

section {
  padding: 1em;
}

.inner-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.title-wrapper {
  margin: 0 0 1em;
}

h1 {
  font-size: clamp(1.5rem, 7.5vw, 1.8rem);
}

h2 {
  margin: 0.5em 0;
  font-size: clamp(1.1rem, 5vw, 1.5rem);
}

h3 {
  margin: 0.5em 0 0.25em;
  font-size: clamp(1rem, 2vw, 1.3rem);
}

a {
  color: $accent-color;
}

p {
  font-size: clamp(0.9rem, 1vw, 1.2rem);
}

li {
  margin-inline-start: 0.5em;
  padding-inline-start: 0.25em;
  font-family: $text-font-family;
  list-style-type: disc;
  font-size: clamp(0.9rem, 1vw, 1.2rem);
}

.back-button {
  margin: 0 auto 2em;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: $background-color-light;
  a {
    margin: 0;
    width: fit-content;
    height: 100%;
    margin: 0 auto;
    padding: 1em 2em;
    position: relative;
    display: block;
    text-align: center;
    text-decoration: none;
    color: $font-color;
    box-shadow: 2px 2px 2px $shadow-color;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border: transparent 4px solid;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border: transparent 4px solid;
    }
    &:hover::before {
      animation: border-top-right 0.75s linear forwards;
    }
    &:hover::after {
      animation: border-left-bottom 0.75s linear forwards;
    }
    &:hover {
      box-shadow: none;
    }
  }
}

@media (min-width: 37em) {
  .title-wrapper {
    display: flex;
    align-items: center;
  }

  .back-button {
    margin: 0;
  }

  h1 {
    margin: 0 auto;
  }

  a:hover {
    text-decoration: underline;
  }
}
