<section
  *ngIf="staticContent && jsonContent"
  [ngClass]="{ 'menu-footer': isMenuFooter }"
>
  <div class="wrapper">
    <div class="icons">
      <a href="{{staticContent.github_link}}" target="_blank">
        <img
          *ngIf="staticContent.github_logo"
          src="{{ staticContent.github_logo }}"
          alt=""
        />
      </a>
      <a href="mailto:{{staticContent.email}}">
        <img
          *ngIf="staticContent.email_logo"
          src="{{ staticContent.email_logo }}"
          alt=""
        />
      </a>
      <a href="{{staticContent.linkedin_link}}" target="_blank">
        <img
          *ngIf="staticContent.linkedin_logo"
          src="{{ staticContent.linkedin_logo }}"
          alt=""
        />
      </a>
    </div>
    <div class="candiate-logo-box">
      <img
        *ngIf="staticContent.candidate_logo"
        src="{{ staticContent.candidate_logo }}"
        alt=""
      />
    </div>
    <div class="name-box">
      <p *ngIf="staticContent.email" class="email">{{ staticContent.email }}</p>
      <p *ngIf="staticContent.candidate_name" class="name">
        &copy; {{ staticContent.candidate_name }}
      </p>
    </div>

    <div class="legal-box">
      <a routerLink="imprint" class="legal">{{ jsonContent.footer.legal }}</a>
    </div>
  </div>
</section>
