@import "../../../scss-styles/variables.scss";

section {
  padding: 0 1em;
  scroll-padding-top: $header-height;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.introduction {
  max-width: 600px;
  margin: 0 auto 2em;
}

p,
ul,
button {
  font-family: $text-font-family;
}

.diagonal-arrow-box {
  max-width: 200px;
  height: 200px;
  margin: 0 auto;
  padding: 2em;
  position: relative;
  img {
    position: absolute;
    top: 0;
    right: 20px;
    transform: rotate(45deg);
    transition: transform .75s linear;
    &.hovered {
      transform: translateX(-100px) translateY(100px) rotate(45deg);
    }
  }
}
