@import "../../../scss-styles/variables.scss";

section {
  padding: 0 1em;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.introduction {
  max-width: 800px;
  margin: 0 auto 2em;
  font-size: clamp(1rem, 5vw, 1.5rem);
}

p,
ul,
button {
  font-family: $text-font-family;
}

.portfolio-arrow-box {
  max-width: 200px;
  height: 200px;
  margin: 0 auto;
  padding: 2em;
  position: relative;
  img {
    position: absolute;
    top: 0;
    right: 20px;
    transform: rotate(45deg);
    transition: transform 0.25s linear;
    &.scrolled {
      transform: translateX(-100px) translateY(100px) rotate(45deg);
    }
  }
}
