<section *ngIf="staticContent && jsonContent">
  <div class="wrapper">
    <h2 *ngIf="staticContent.portfolio.title">
      {{ staticContent.portfolio.title }}
    </h2>
    <p *ngIf="jsonContent.portfolio.introduction" class="introduction">
      {{ jsonContent.portfolio.introduction }}
    </p>
    <ul class="project-list">
      <li>
        <po-project> </po-project>
      </li>
    </ul>
  </div>
  <div class="portfolio-arrow-box" #portfolioArrowBox>
    <img
      src="{{ staticContent.arrow_dark }}"
      alt=""
      [class.scrolled]="isScrolled"
    />
  </div>
</section>
