@import "../../../../scss-styles/variables.scss";

article {
  margin: 0 0 36px;
}

.project-wrapper {
  margin: 0 0 64px;
  .img-box {
    width: 90%;
    aspect-ratio: 16 / 9;
    margin: 1em auto;
    max-width: 400px;
    position: relative;
    .project-img {
      aspect-ratio: 16 / 9;
    }
    .round-arrow {
      display: none;
    }
  }
}

.odd {
  h3 {
    text-align: right;
  }
  .img-box {
    .frame {
      top: 8px;
      left: 8px;
    }
    .round-arrow {
      top: 50%;
      right: -28px;
    }
  }
}

.even {
  h3 {
    text-align: left;
  }
  .img-box {
    .frame {
      top: 8px;
      left: 8px;
    }
    .round-arrow {
      top: 50%;
      left: -8px;
    }
  }
}

.text-wrapper,
h3 {
  width: 90%;
  margin: 0 auto;
  max-width: 400px;
}

.skills {
  margin: 0.25em 0 0.5em;
  display: flex;
  align-items: center;
  color: $accent-color;
}

.description {
  font-size: 0.9rem;
}

.project-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  po-button {
    padding: 0.3em 0.75em;
  }
}

@media (min-width: 50em) {
  .project-wrapper {
    margin: 0 0 36px;
  }

  .img-box {
    position: relative;
    align-self: center;
    .project-img {
      filter: grayscale(100%);
    }
    .frame {
      width: 100%;
      aspect-ratio: 16 / 9;
      position: absolute;
      top: 8px;
      left: 8px;
      border: $background-color-dark 1.5px solid;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    .round-arrow {
      height: 40px;
      position: absolute;
      transform: translateY(-50%);
      transition: opacity 0.3s ease;
      display: block !important;
      opacity: 0;
    }

    &:hover img {
      filter: grayscale(0);
    }
    &:hover .frame {
      opacity: 1;
    }
    &:hover .round-arrow {
      opacity: 1;
      animation: spinRoundArrow 0.5s ease-in-out forwards;
    }
  }

  .project-wrapper.odd {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "picture number"
      "picture text";
    column-gap: 16px;
    .img-box {
      grid-area: picture;
    }
    h3 {
      grid-area: number;
      align-self: center;
    }
    .text-wrapper {
      grid-area: text;
    }
  }

  .project-wrapper.even {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "number picture"
      "text picture";
    column-gap: 16px;
    .img-box {
      grid-area: picture;
    }
    h3 {
      grid-area: number;
      align-self: center;
    }
    .text-wrapper {
      grid-area: text;
    }
  }

  .project-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  @keyframes spinRoundArrow {
    0% {
      transform: scale(1) translateY(-50%) rotate(0deg);
    }

    100% {
      transform: scale(1.2) translateY(-50%) rotate(250deg);
    }
  }
}
