<!-- <article *ngIf="staticContent && jsonContent && staticContentProjects">
  @for(project of jsonContent.portfolio.projects; track project; let i= $index;
  let count = $count) {
  <div
    [ngClass]="{ odd: (i + 1) % 2 !== 0, even: (i + 1) % 2 === 0 }"
    class="project-wrapper"
  >
    <h3>{{ i + 1 }} / {{ count }}</h3>
    @for(key of getProjectKeys(project); track key;) {
    <div class="img-box">
      <img
        [src]="'assets/img/projects/' + staticContentProjects[key].path"
        alt="{{ staticContent.portfolio.projects[key].title }}"
        class="project-img"
      />
      <div class="frame-wrapper">
        <div class="frame"></div>
        <img
          class="round-arrow"
          [src]="
            'assets/icons/arrows_dark/' + staticContent.portfolio.round_arrow
          "
        />
      </div>
    </div>
    <div class="text-wrapper" data-aos="fade-down">
      <h5>{{ staticContentProjects[key].title }}</h5>
      <div class="skills">
        @for(skill of staticContentProjects[key].skills; track skill; let last =
        $last){
        {{ skill }}
        <ng-container *ngIf="!last"> | </ng-container>
        }
      </div>
      <div class="description">
        {{ project[key].description }}
      </div>
      <div>
        <po-button [caption]="project[key].test_button"></po-button>
        <po-button
          [caption]="staticContentProjects[key].code_button"
        ></po-button>
      </div>
    </div>
    }
  </div>
  } @empty { 'No projects available' }
</article> -->

<article *ngIf="staticContent && jsonContent && staticContentProjects">
  <div class="project-wrapper odd">
    <h3>1 / 3</h3>
    <div class="img-box">
      <img src="{{ staticContentProjects['join'].path }}" alt="" />
      <div class="frame-wrapper">
        <div class="frame"></div>
        <img
          class="round-arrow"
          src="{{ staticContent.portfolio.round_arrow }}
          "
        />
      </div>
    </div>
    <div class="text-wrapper aos-animate" data-aos="fade-down">
      <h5>{{ staticContentProjects["join"].title }}</h5>
      <div class="skills">
        <span>{{ staticContentProjects["join"].skills[0] }}</span> |
        <span>{{ staticContentProjects["join"].skills[1] }}</span> |
        <span>{{ staticContentProjects["join"].skills[2] }}</span>
      </div>
      <div class="description">
        {{ jsonContent.portfolio.projects[0]["join"].description }}
      </div>
      <div>
        <po-button
          [caption]="jsonContent.portfolio.projects[0]['join'].test_button"
        ></po-button>
        <po-button
          [caption]="staticContentProjects['join'].code_button"
        ></po-button>
      </div>
    </div>
  </div>
  <div class="project-wrapper even">
    <h3>2 / 3</h3>
    <div class="img-box">
      <img src="{{ staticContentProjects['mermaid'].path }}" alt="" />
      <div class="frame-wrapper">
        <div class="frame"></div>
        <img
          class="round-arrow"
          src="{{ staticContent.portfolio.round_arrow }}
          "
        />
      </div>
    </div>
    <div class="text-wrapper aos-animate" data-aos="fade-down">
      <h5>{{ staticContentProjects["mermaid"].title }}</h5>
      <div class="skills">
        <span>{{ staticContentProjects["mermaid"].skills[0] }}</span> |
        <span>{{ staticContentProjects["mermaid"].skills[1] }}</span> |
        <span>{{ staticContentProjects["mermaid"].skills[2] }}</span>
      </div>
      <div class="description">
        {{ jsonContent.portfolio.projects[1]["mermaid"].description }}
      </div>
      <div>
        <po-button
          [caption]="jsonContent.portfolio.projects[1]['mermaid'].test_button"
        ></po-button>
        <po-button
          [caption]="staticContentProjects['mermaid'].code_button"
        ></po-button>
      </div>
    </div>
  </div>
  <div class="project-wrapper odd">
    <h3>3 / 3</h3>
    <div class="img-box">
      <img src="{{ staticContentProjects['pokedex'].path }}" alt="" />
      <div class="frame-wrapper">
        <div class="frame"></div>
        <img
          class="round-arrow"
          src="{{ staticContent.portfolio.round_arrow }}
          "
        />
      </div>
    </div>
    <div class="text-wrapper aos-animate" data-aos="fade-down">
      <h5>{{ staticContentProjects["pokedex"].title }}</h5>
      <div class="skills">
        <span>{{ staticContentProjects["pokedex"].skills[0] }}</span> |
        <span>{{ staticContentProjects["pokedex"].skills[1] }}</span> |
        <span>{{ staticContentProjects["pokedex"].skills[2] }}</span> |
        <span>{{ staticContentProjects["pokedex"].skills[3] }}</span>
      </div>
      <div class="description">
        {{ jsonContent.portfolio.projects[2]["pokedex"].description }}
      </div>
      <div>
        <po-button
          [caption]="jsonContent.portfolio.projects[2]['pokedex'].test_button"
        ></po-button>
        <po-button
          [caption]="staticContentProjects['pokedex'].code_button"
        ></po-button>
      </div>
    </div>
  </div>
</article>
