@import "../../../../scss-styles/variables.scss";

.project-wrapper {
  margin: 0 0 2em;
  .img-box {
    width: 90%;
    margin: 1em auto;
    max-width: 400px;
    position: relative;
    border: green 1px solid;
    .frame-wrapper {
      opacity: 0;
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 1;
      }
      &:hover .round-arrow {
        animation: spinRoundArrow 0.5s ease-in-out forwards;
      }
      &:hover .project-img {
        filter: grayscale(0%);
        border: red 1px solid;
      }
      .frame {
        height: 100%;
        width: 100%;
        position: absolute;
        border: $background-color-dark 1.5px solid;
      }
      .round-arrow {
        height: 40px;
        position: absolute;
        transform: translateY(-50%);
      }
    }
  }
}

.project-img {
  filter: grayscale(100%);
}

.odd {
  h3 {
    text-align: right;
  }
  .img-box {
    .frame {
      top: 8px;
      left: 8px;
    }
    .round-arrow {
      top: 50%;
      right: -28px;
    }
  }
}

.even {
  h3 {
    text-align: left;
  }
  .img-box {
    .frame {
      top: 8px;
      left: 8px;
    }
    .round-arrow {
      top: 50%;
      left: -8px;
    }
  }
}

.text-wrapper,
h3 {
  width: 90%;
  margin: 0 auto;
  max-width: 400px;
}

h3 {
  border: blue 1px solid;
}

.skills {
  margin: 0.25em 0 0.5em;
  display: flex;
  align-items: center;
  color: $accent-color;
}

.description {
  font-size: 0.9rem;
}

@keyframes spinRoundArrow {
  0% {
    transform: scale(1) translateY(-50%) rotate(0deg);
  }

  100% {
    transform: scale(1.2) translateY(-50%) rotate(250deg);
  }
}

/* @media (min-width: 50em) {
  .project-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .project-wrapper.even {
    flex-direction: row-reverse;
  }

  .project-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

} */

@media (min-width: 50em) {
  .project-wrapper {
    margin: 0 0 36px;
  }

  .project-wrapper.odd {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "picture number"
      "picture text";
    column-gap: 16px;
    .img-box {
      grid-area: picture;
    }
    h3 {
      grid-area: number;
      align-self: center;
    }
    .text-wrapper {
      grid-area: text;
    }
  }

  .project-wrapper.even {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "number picture"
      "text picture";
    column-gap: 16px;
    .img-box {
      grid-area: picture;
    }
    h3 {
      grid-area: number;
      align-self: center;
    }
    .text-wrapper {
      grid-area: text;
    }
  }

  .project-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
